html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.leftSideNav{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #0F5D82;
}

.nav-link{
    text-align: center;
    color: white;
    font-weight: bold;
}

#everything{
    margin-left: 0px;
    height: 100%;
    border:2px solid black;
}

#mePic{
    margin-top: 13px;
    
}

.img-fluid{
    margin-bottom: 20px;
   
}

#name{
    font-weight: bold;
}

.jumbotron{
    margin-bottom: 0px;
}

a:hover { 
    color: black;
}

#about-info{
    margin-left: 10px;
}

#projects{
    margin-left: 20px;
}

