#leftSideNav{
    height: 100%;
    background-color: #0F5D82;
    
}

.nav-link{
    text-align: center;
    color: white;
    font-weight: bold;
}

#everything{
margin-left: 0px;
}

.img-fluid{
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
}

#name{
    font-weight: bold;
}

.jumbotron{
    margin-bottom: 0px;
}

a:hover { 
    color: black;
}

#about-info{
    margin-left: 10px;
}