html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.leftSideNav{
    margin-left: 0px;
    height: 100%;
    min-height: 100vh;
    background-color: #0F5D82;
}

.nav-link{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

#everything{
    margin-left: 0px;
    height: 100%;
}

#mePic{
    margin-top: 13px;
    margin-bottom: 5px;

}

.img-fluid{
    margin-bottom: 20px;
   
}

#name{
    font-weight: bold;
}

.jumbotron{
    margin-bottom: 0px;
    background: none;
}

a:hover { 
    color: black;
}

#about-info{
    margin-left: 10px;
}

#projects{
    margin-left: 20px;
}

.portfolio-info {
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;
  }

#contact-info{
    margin-left: 20px;
}