#leftSideNav{
    
    background-color: #0F5D82;
}

.nav-link{
    text-align: center;
    color: white;
    font-weight: bold;
}

#everything{
margin-left: 0px;
}

.img-fluid{
    margin-bottom: 20px;
}